In [2]:
print("hello world")

hello world

In [3]:
print("Rana")

Rana

In [6]:
Print("Rana")

NameError: name 'Print' is not defined

In [ ]:
###Python is case sensitive

### This is Rana

### I am 18yo old

#### I live in Jamshedpur

##### This is my first ML program.

## I am happy today

In [9]:
print(Rana)

NameError: name 'Rana' is not defined

In [10]:
print(10)

10

In [11]:
print(sum)

<built-in function sum>

In [12]:
print('Rana')

Rana

### String(text) should be in inverted comma

# In ML we will be handling data in structured format and in AI we will be dealing data in unstructered format,it will be in image, video, voice format


### shortcut keys

### Run-> shift+enter
### add a cell above-> a
### add a cell below-> b
### delete a cell-> x

In [19]:
x=10
type(x)

int

In [20]:
x=10.5
type(x)

float

In [21]:
course="Data science"
type(course)

str

### variables

In [24]:
coursenames="DS", "ML", "AI"
print(coursenames)

('DS', 'ML', 'AI')

In [25]:
course names="DS", "ML", "AI"
print(coursenames)

SyntaxError: invalid syntax (<ipython-input-25-f9fa268a6546>, line 1)

In [26]:
course*names="DS", "ML", "AI"
print(coursenames)

SyntaxError: cannot assign to operator (<ipython-input-26-b7b4e18b5ced>, line 1)

In [27]:
3coursenames="DS", "ML", "AI"
print(coursenames)

SyntaxError: invalid syntax (<ipython-input-27-a11b0babfa85>, line 1)

In [28]:
course_names="DS", "ML", "AI"
print(course_names)

('DS', 'ML', 'AI')

In [ ]:
### space is not allowed

### The only allowed special char is underscore

### variable name should not start with a number

### It should start with A-Z a-z